body {
    font-family: "Bahnschrift SemiBold", Arial, sans-serif;
    background-color: #B5B2AE;
    margin: 0;
    padding: 0;
  }
  
  .username-container {
    text-align: center;
    padding: 15px;
    background-color: #C9C6C0;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 18px; 
  }
  
  .username {
    color: #172C42;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    background-color: #C9C6C0;
    border-radius: 10px;
    padding: 20px;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 200px; 
    height: auto;
  }
  
  .tabs {
    overflow: hidden;
    text-align: center;
  }
  
  .tablinks {
    background-color: #0694B6;
    color: #FAFAFA;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.2s ease;
  }
  
  .tablinks:hover {
    background-color: #172C42;
    transform: scale(1.05);
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
    font-size: 18px; 
    margin: 0 auto;
    text-align: center; 
  }
  
  
  h2 {
    color: #172C42;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: transform 0.2s ease;
  }
  
  .logout-button:hover {
    transform: scale(1.05);
  }
  
  .logout-image {
    display: block;
    width: 112px;
    height: auto;
  }
  
  .logout-text {
    color: #172C42;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .tablinks.active {
    background-color: #172C42;
  }

  .invite-box {
    background-color: #FBFAF8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .invite-content {
    display: flex;
    align-items: center;
  }
  
  .invite-number {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .separator {
    margin: 0 10px;
  }
  
  .invite-response {
    margin-left: auto;
  }
  
  .response-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .small-cross {
    width: 18px;
    height: auto;
    margin-left: 10px; 
  }
  
  .response-icon:hover {
    transform: scale(1.1);
  }
  
  @keyframes shrink {
    0% {
      height: 30px;
    }

    100% {
      height: -0px;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }
  }
  
  
  .shrink-animation {
    animation: shrink 0.6s ease forwards;
  }
  
  #search-form {
    text-align: center;
    margin-top: 20px;
  }
  
  #phone-number-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #search-button {
    background-color: #0694B6;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease;
    transform: translateY(10%);
  }
  
  #search-button img {
    width: 25px;
    height: auto;
  }
  
  #search-button:hover {
    transform: scale(1.1) translateY(10%);
  }
  
  #search-results {
    margin-top: 20px;
    text-align: center;
    color: #172C42;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake-animation {
    animation: shake 0.4s ease-in-out;
  }
  
  .invalid {
    color: red;
  }
  
  .result-box {
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background-color: #43B1CA;
    border: 2px solid #000; 
    border-radius: 5px; 
    color: #FFF; 
    margin-bottom: 10px; 
    max-width: 80%; 
}

.phone-number {
    font-weight: bold;
    margin-right: 10px;
}

.send-button {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.send-button:hover {
    transform: scale(1.1);
}

.crumple-animation {
  animation: crumple 0.5s ease forwards;
}

@keyframes crumple {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.8);
  }
  100% {
      transform: scale(0);
  }
}

.plane-img {
  position: absolute !important; 
  width: 0; 
  height: 0; 
  transition: transform 1s, opacity 1s, width 0.5s, height 0.5s; 
}

.grow-animation {
  width: 100px; 
  height: auto; 
  transform: translate(-60%, -50%);
  opacity: 1;
}

.fly-off-animation {
  transform: translateX(200%); 
  opacity: 0;
}
